
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .selects { display: flex; }
    .selects > div { margin: 0 5%; }
    .details { margin: 5%; display: none; }
    .details > div { margin: 0 5%; }
    label { margin-bottom: 0; }
    .data-contain { display: flex; }
    .data-contain h4 { width: 115px; }
    .data-contain div { margin: 0 2%; }
    .data-contain > div > label { width: 75px; }
</style>

<div class="jumbotron">
    <h1>Get Weather</h1>
</div>

<div class="selects">
    <div>
        <h2>Countries</h2>
        <select id="ddlCountryCodes"></select>
    </div>
    <div>
        <h2>Cities</h2>
        <select id="ddlCities">
            <option disabled selected>Select Country First</option>
        </select>
    </div>  
</div>

<div class="details">
    <div>
        <hr /><h3>Location</h3>
        <div class="data-contain">
            <div>
                <label>Latitude: </label><br/>
                <label>Longitude: </label>
            </div>
            <div>
                <span id="lat"></span><br/>
                <span id="long"></span>
            </div>
        </div>
    </div>
    <div>
        <hr /><h3>Weather</h3>
        <div>
            <div class="data-contain">
                <h4>Temperature</h4>
                <div>
                    <label>Current: </label><br/>
                    <label>Minimum: </label><br/>
                    <label>Maximum: </label>
                </div>
                <div>
                    <span id="tempCurr"></span><br/>
                    <span id="tempMin"></span><br/>
                    <span id="tempMax"></span>
                </div>
            </div>
            <br/>
            <div class="data-contain">
                <h4>Wind</h4>
                <div>
                    <label>Direction: </label><br/>
                    <label>Speed: </label>
                </div>
                <div>
                    <span id="windDirection"></span><br/>
                    <span id="windSpeed"></span>
                </div>
            </div>
            <br/>
            <div class="data-contain">
                <h4>Clouds</h4>
                <div>
                    <label>Type: </label><br/>
                    <label>Humidity: </label>
                </div>
                <div>
                    <span id="cloudType"></span><br/>
                    <span id="humidity"></span>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" crossorigin="use-credentials" language="javascript" defer>
    $.ajax("@Url.Action("GetCountryCodes")").done(data => {
        data = JSON.parse(data).sort();

        $("#ddlCountryCodes").html("<option selected disabled>Select Country</option>");
        $(data).each((key, val) => {
            $("#ddlCountryCodes")
                .append("<option value='" + key + "'>" + (val == "" ? "Continents" : val) + "</option>");
        });

        $("#ddlCountryCodes").change(event => {
            $.ajax("@Url.Action("GetCities")?country=" + data[$("#ddlCountryCodes").val()] + "&max=")
                .done(data2 => {
                    data2 = JSON.parse(data2).sort((c1, c2) =>
                        c1.name === c2.name ? 0 : c1.name > c2.name ? 1 : -1);

                    $("#ddlCities").html("<option selected disabled>" +
                            ($("#ddlCountryCodes").val() == 0 ? "Select Continent" : "Select City") +
                        "</option>");

                    $(data2).each((key, val) => {
                        $("#ddlCities").append("<option value='" + val._id + "'>" + val.name + "</option>");
                    });
                });
        });

        $("#ddlCities").change(event => {
            var id = $("#ddlCities").val();
            $.ajax("@Url.Action("GetWeather")?id=" + id).done(data3 => {
                $(".details").css("display", "inline");
                data3 = JSON.parse(data3).current;
                console.log(data3);

                $("#lat").text(data3.city.coord["@Html.Raw("@")lat"]);
                $("#long").text(data3.city.coord["@Html.Raw("@")lon"]);

                $("#tempCurr").text(data3.temperature["@Html.Raw("@")value"]);
                $("#tempMin").text(data3.temperature["@Html.Raw("@")min"]);
                $("#tempMax").text(data3.temperature["@Html.Raw("@")max"]);

                $("#windDirection").text(
                    data3.wind.direction["@Html.Raw("@")value"] +
                    " (" + data3.wind.direction["@Html.Raw("@")name"] + ")"
                );
                $("#windSpeed").text(
                    data3.wind.speed["@Html.Raw("@")value"] +
                    "(" + data3.wind.speed["@Html.Raw("@")name"] + ")"
                );

                $("#cloudType").text(data3.clouds["@Html.Raw("@")name"]);
                $("#humidity").text(data3.humidity["@Html.Raw("@")value"] + "%");
            });
        });
    });
</script>